 .detailed-card-banner{
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color:#003145;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 100px 150px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        color: white;
       
        .detailed-card-details{

            display: flex;
            flex-direction: column;
            gap: 10px;


            .detailed-card-image-title{
                display: flex;

                .detailed-card-image{
                    height:100px;
                    width:100px;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    
                    }
                }

                .detailed-card-title{
                    padding: 10px 0px 10px 30px;
                }

            }

            .detailed-card-tags{
                display: flex;
                align-items: center;
                gap: 20px;

                .line {
                    height: 20px;
                    width: 1px;
                    background-color: white;
                    opacity: 0.5;
                }

                .detailed-card-time{
                    background-color: rgba(255, 255, 255, 0.3);
                    padding: 5px 10px 5px 10px;
                    border-radius: 15px;
                }
            }

        }
        .detailed-card-editlink{
            display: flex;
            flex-direction: column;
            gap: 20px;

            button{
                // background-color:#003145;
                background: none;
                color: inherit;
                border: 1px solid white;
                border-radius: 7px;
                padding:10px 15px 5px 15px;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }
        }
        
    }

    .detailed-card-info{
        display: flex;

        .detailed-card-description{
            width:50% ;
            padding:25px 20px 20px 150px;
            font-weight: 250;
            h1{
                font-weight: 250;
                margin: 20px;
            }
        }

        .detailed-card-hackathon{
            width:50% ;
            padding:25px 20px 0px 150px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: small;
            

            h3{
                font-weight: 250;
                margin: 20px 0px 0px 0px;
            }

            h2 {
                margin: 0;
            }

            button{
                background: none;
                color: inherit;
                border: 1px solid black;
                border-radius: 7px;
                width:150px;
                padding: 10px 0px 10px 0px;

            }
        
        }
    
    }
    


    .modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        position: absolute;
        left: 33%;
        top: 30%;
        border-radius: 1rem;
        padding: 1rem;
        padding-top: 0.5rem;
        font-family: 'Poppins';
    
        .modal-content {
            width: 90%;
    
            #modal-title {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 2.1rem;
                margin-bottom: 1rem;
            }
    
            #modal-description {
                font-size: 0.8rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    
        .modal-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 1rem;
            margin-top: 1rem;
    
            .modal-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                font-weight: 500;
                font-size: large;
                cursor: pointer;
                border-radius: 0.5rem;
                border: 1px solid white;
                width: 7rem;
                height: 2.5rem;
    
    
                &:nth-child(1) {
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                    border : 1px solid #003145;
                }
    
                &:nth-child(2) {
                    background-color: #d40c0c;
                    color: white;
                }
            }
            
        }
   
    }